[submodule "config/webpack"]
	path = config/webpack
	url = https://github.com/ZweerServerless/config-webpack.git
[submodule "lambda/utils"]
	path = lambda/utils
	url = https://github.com/ZweerServerless/utils.git
